<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>Edit Lemur</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body class='container'>
        <h1>Edit <%=aLemur.name%>!</h1>
        <form action='/lemurs/<%=aLemur._id%>' method='post'>
            <table>
                <tr>
                    <td>Lemur name:</td>
                    <td><input type='text' name='name' value='<%=aLemur.name%>'></td>
                </tr>
                <tr>
                    <td>Eye color: </td>
                    <td><input type= 'text' name='eye_color' value='<%=aLemur.eye_color%>'></td>
                </tr>
                <tr>
                    <td>Legs: </td>
                    <td><input type= 'number' name='legs' value='<%=aLemur.legs%>'></td>
                </tr>
            </table></p>
            <input type='submit' class="btn btn-primary" value='Save changes!'>
        </form></p>
        <form action='/lemurs/destroy/<%=aLemur._id%>' method='post'>
            <input type='submit' class="btn btn-primary" value='Delete'>
        </form></p>
        <a href='/'>Home</a>
        <% if(messages.lemurs) { %>
            <% for (var x of messages.lemurs) { %>
            <h3><%= x %></h3>
            <% } %>
        <% } %>
    </body>
</html>